<nav>
  <ul>
  	<li><%= link_to 'Back', admin_contestants_path %></li>
    <li class="destroy"><%= link_to 'Destroy Contestant', [:admin, @contestant], method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</nav>

<h1>Showing "<%= @contestant.display_name %>"</h1>

<%= render 'form' %>
