<nav>
  <ul>
  	<li><%= link_to 'Back', admin_week_path(@week) %></li>
    <li class="destroy"><%= link_to 'Destroy Game', [:admin, @week, @game], method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</nav>

<h1>Editing Game for Week <%= @week.number %></h1>

<%= render 'form' %>
