<table id="home">
  <thead>
    <tr>
      <th>Get your picks on!</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Who doesn’t love college football? Our two favorite celebrities sure do. We are giving you the chance to go head-to-head with the duo of Dale Earnhardt Jr. and Regan Smith of TaxSlayer.com. TaxSlayer’s two NASCAR drivers will colaborate and pick their game winners each week. You guess more than them (and everyone else) and you’ll win some awesome prizes.</td>
    </tr>
    <tr>
      <td>
        <%= link_to "Play Now!", play_path, :class => "btn btn-primary btn-lg active btn-block", :id => "playnow", :role => "button" %>
      </td>
    </tr>
    <tr>
      <td>Come back each week and select your picks. Not only is there a weekly winner, but our grand prize winner will receive 4 tickets to the 2015 TaxSlayer Bowl and a 2015 TaxSlayer Bowl football autographed by both head coaches.</td>
    </tr>
  </tbody>
</table>
<div id="homeduo">
  <img src="../../assets/duoone.png" id="duoone" alt="Duo One" width="" height="" />

  <img src="../../assets/duotwo.png" id="duotwo" alt="Duo Two" width="" height="" />
</div>

<br>
