<table id="home">
  <thead>
    <tr>
      <th>Get your picks on!</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Who doesn't love college football? Our three favorite celebrities sure do. We are giving you the chance to go head-to-head with the trio of Dale Earnhart Jr., Regan Smith, and Patrick Reed of TaxSlayer.com. TaxSlayer.com's two NASCAR drivers and PGA Tour golfer will collaborate and pick their winners each week. You guess more than them (and everyone else) and you'll win some awesome prizes.</td>
    </tr>
    <tr>
      <td>
        <a href="/votes#index" id="playnow" class="btn btn-primary btn-lg active btn-block" role="button">Play Now!</a>
      </td>
    </tr>
    <tr>
      <td>Come back each week and select your picks. Not only is there a weekly winner; but our grand prize winnerl randomly selected from our top 25 contestants, will receive 4 tickets to the 2015 TaxSlayer Bowl and a signed TaxSlayer Bowl hat from our Dynamic TaxSlayer Trio.</td>
    </tr>
  </tbody>
</table>
<div id="homeduo">
  <img src="../../assets/duoone.png" id="duoone" alt="Duo One" width="" height="" />

  <img src="../../assets/duotwo.png" id="duotwo" alt="Duo Two" width="" height="" />
</div>

<br>
