#voting
  position: relative

  h2
    text-align: center

  h2, span.week
    font-size: 1.5em
    text-transform: uppercase
    font-weight: bold
    line-height: 1.5em
    margin: 5px 0

  form
    margin-bottom: 0

  span.week
    color: #999

    a:link, a:visited
      color: #000

    &.next
      float: right

    &.prev
      float: left

  .submit
    line-height: 4em

    input[type=submit]
      color: #ffffff
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
      background-color: #A30000
      *background-color: #003bb3
      background-image: -moz-linear-gradient(top, #CF0000, #A30000)
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CF0000), to(#A30000))
      background-image: -webkit-linear-gradient(top, #CF0000, #A30000)
      background-image: -o-linear-gradient(top, #CF0000, #A30000)
      background-image: linear-gradient(to bottom, #CF0000, #A30000)
      background-repeat: repeat-x
      border-color: #A30000 #A30000 #6D0000
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
      -moz-border-radius: 10px
      border-radius: 10px
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffCF0000', endColorstr='#ffA30000', GradientType=0)
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
      -webkit-transition: all 500ms ease-in-out !important
      -moz-transition: all 500ms ease-in-out !important
      -o-transition: all 500ms ease-in-out !important
      -ms-transition: all 500ms ease-in-out !important
      transition: all 500ms ease-in-out !important
      background-color: #A30000
      font-size: 1.3em
      padding: 0.5em
      text-transform: uppercase
      font-weight: bold
      &:hover, &:focus
        background-color: #960000
        *background-color: #920000
        -webkit-transition: all 500ms ease-in-out !important
        -moz-transition: all 500ms ease-in-out !important
        -o-transition: all 500ms ease-in-out !important
        -ms-transition: all 500ms ease-in-out !important
        transition: all 500ms ease-in-out !important

  table.games
    width: 100%
    line-height: 2em

    td.vote
      padding: 0 0.5em

      input
        margin-top: -0.5em

    td.name
      width: 55%
      color: #666

      label
        font-weight: bold

      &.home
        text-align: right

      &.away
        text-align: left

  h3
    font-size: 1em
    text-transform: uppercase
    color: #666
    line-height: 1.2

  .psubmit
    input[type=submit]
      background-color: #8A6262
      border-radius: 10px
      color: white
      font-size: 1.3em
      padding: 0.5em
      border: 0
      text-transform: uppercase
      font-weight: bold

  #tiebreaker
    width: 50%
    float: left

    td
      text-align: left

      &.in
        width: 4em

    input, label
      line-height: 1em
      margin: 0

    input
      width: 2.5em

  #pp_toggle
    display: none
    background-color: #ccc
    width: 120px
    position: absolute
    margin-left: 100%
    top: 20px
    left: 0
    padding: 5px 10px

    ul
      margin: 0

      li
        list-style: none
        text-align: left

        input, label
          margin: 0
          line-height: 2em

        label
          display: inline
          font-weight: bold
