<nav>
  <ul>
  	<li><%= link_to 'Back', admin_teams_path %></li>
    <li><%= link_to 'Destroy', [:admin, @team], method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</nav>

<h1>Editing "<%= @team.name %>"</h1>

<%= render 'form' %>
