<h1>Teams</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, edit_admin_team_path(team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav>
  <ul>
    <li><%= link_to 'New Team', new_admin_team_path %></li>
  </ul>
</nav>


