<nav>
  <ul>
  	<li><%= link_to 'Back', admin_weeks_path %></li>
    <li class="destroy"><%= link_to 'Destroy Week', [:admin, @week], method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</nav>

<h1>Editing Week <%= @week.number %></h1>

<%= render 'form' %>
