<h1>Weeks</h1>

<table>
  <thead>
    <tr>
      <th>Week</th>
      <th>Previous</th>
    </tr>
  </thead>

  <tbody>
    <% @weeks.each do |week| %>
      <tr>
        <td><%= link_to "Week #{week.number}", [:admin, week] %></td>
        <td><%- if p_week = week.previous_week -%>
            <%= link_to "Week #{p_week.number}", [:admin, p_week] %>
          <%- end -%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav>
  <ul>
    <li><%= link_to 'New Week', new_admin_week_path %></li>
  </ul>
</nav>
